.locations {
    background-color: goldenrod;
    border-radius: 0 40px 40px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.loc__img {
    width: 300px;
}

.location__image {
    padding-bottom: 30px;
}

.location {
    padding: 20px;
}

.location__name {
    font-size: 30px;
}