.locations {
    background-color: goldenrod;
    border: rgb(62 104 104) solid 7px;
    margin: 20px;
    display: flex;
    flex-direction: column;

}

.loc__img {
    width: 300px;
}

.location__image {
    padding-bottom: 30px;
}

.location {
    padding: 20px;
}

.location__name {
    font-size: 30px;
}