.locations {
    background-color: goldenrod;
    border-radius: 0 40px 40px;
    margin: 20px;
    padding: 5px;
}
.location__cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.loc__img {
    width: 300px;
}

.location__image {
    padding-bottom: 30px;
}

.location {
    padding: 20px;
}

.location__name {
    font-size: 30px;
}

.loc__text {
    padding: 3px;
}