@import "quotes.css"; 
@import "tips.css";
@import "fishes.css";
@import "locations.css";

.header {
    display: flex;
    background-color: lightcyan;
    padding-left: 20px;
}
.main{
    display:flex;
    background-color: lightcyan;
}

.left--content{
    flex-basis: 75%;
    color: rgb(62 75 75);
}

.logo {
    Justify-self: flex-start;
    flex-basis:30%;
}
.logo__image {
    width: 250px;

}


.title {
    align-self: center;
    text-align: left;
    flex-grow: 1; 
    font-size: 40px;
    font-family: inherit;
    color: rgb(62 104 104);
}

.titles {
    text-align: left;
    align-self: center;
    flex-basis: 100%;
    color: lightcyan;
    border-bottom: 3px double;
}