@import "quotes.css"; 
@import "tips.css";
@import "fishes.css";
@import "locations.css";

.header {
    display: flex;
    border: 2px dotted darkblue;
}
.main{
    display:flex;
    border: 2px dotted darkblue;
}

.left--content{
    border: 2px dotted darkblue;
    flex: 70;
}

.logo {
    align-self: flex-end;
}

.title {
    align-self: center;
    text-align: center;
    flex-grow: 1; 
    font-size: 25px;
}