.quotes {
    background-color: goldenrod;
    border-radius: 0 40px 40px;
    margin: 20px;
    padding: 5px 0;
}

.quotes__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.quote {
    width: 160px;
    margin: 15px;
    flex-basis: auto;
    
}

.quote__author {
    padding-top: 10px;
}
    
    