.tips{
    background-color: rgb(47 68 71);
    flex: 1;
    text-align: center;
    display:flex;
    flex-direction: column;
    color: lightcyan;
    padding-top: 10px;
}

.tip {
    padding: 40px 10px;
    border-bottom: 3px double lightcyan;
    width: 150px;
    align-self: center;
}

.tip__title {
    color: lightcyan;
    border-bottom: 3px double lightcyan;
}